*.swp
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# Folder view configuration files
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes

# Compiled files
*.pyc
*.out

# Application specific
venv
node_modules
.sass-cache

# Temp files
*.swp
*.swa
*.swo
*.orig
temp/

# IDE
.vscode
.kiro/

# Jupyter checkpoints
.ipynb_checkpoints/
